@import "tailwindcss";

@theme {
	--font-family-sans: "Inter", sans-serif;

	--color-orange-400: #fb923c;
	--color-orange-500: #f97316;
	--color-orange-600: #ea580c;
	--color-orange-700: #c2410c;
}

body {
	font-family: var(--font-family-sans);
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("https://img.freepik.com/free-photo/stationery-with-apple-calculator-blackboard_23-2148199923.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 100vh;
	color: #f5f5f5;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.5s ease-in-out;
}

.animate-slideDown {
	animation: slideDown 0.5s ease-in-out;
}
