* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: url("https://img.freepik.com/free-photo/stationery-with-apple-calculator-blackboard_23-2148199923.jpg")
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  color: whitesmoke;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-menu,
.sequence-page {
  padding: 3rem;
  animation: slideIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

button,
input {
  font-size: 1.3rem;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(145deg, #ffb74d, #ff8a65);
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-button,
.back-button {
  margin: 1rem;
}

.menu-button:hover,
.back-button:hover {
  background: linear-gradient(145deg, #ff8a65, #f4511e);
  transform: scale(1.05);
}

.menu-button:focus,
.back-button:focus {
  box-shadow: 0 0 0 4px rgba(255, 138, 101, 0.5);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 3rem;
}

.sequence-form {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sequence-form > * {
  margin-bottom: 1rem;
}

.sequence-form input {
  padding: 1rem;
  width: 100%;
  border: 1px solid #ff8a65;
  border-radius: 8px;
  outline: none;
  background-color:rgba(255, 245, 238, 0.2);
  animation: inputAnimation 0.5s ease-in-out;
}

.sequence-form input:hover {
  border-color: #f4511e;
  box-shadow: 0 0 0 2px rgba(255, 138, 101, 0.5);
}

.sequence-form input:focus {
  border-color: #ff8a65;
  box-shadow: 0 0 0 2px rgba(255, 138, 101, 0.5);
}

@keyframes inputAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  button,
  input {
    font-size: 1.2rem;
  }

  .menu-button,
  .back-button {
    margin: 0.5rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .container {
    max-width: 800px;
  }
}
